body {
  background-color: black;
  margin: 0px;
}

canvas {
  background-color: lightblue;
  background-image:  url(https://images.alphacoders.com/274/thumb-1920-274701.jpg);
  background-position: center;
  background-repeat: no-repeat ;
  background-size: cover ;
  margin: 150px;
}

img {
  display: none;
}
